QPushButton {
    margin-left: 8em;
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color: beige;
    width: 5em;
    height: 3ex;
    max-width: 8em;
    color: #fff;
}

QWidget {
    background-color: #666;
}

QToolButton {
    color: #fff;
    border-radius: 10px;
    padding: 1em;
}